$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$button-color: #f5f4fa;
$black-font-color: #2f303a;
$border-color: #eeeeee;
$background-img-color: #c4c4c4;
$border-second-color: #afb1b8;
$border-main-color: #ececec;
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
